*{
    margin: 0;
    padding: 0;
}
body{
     max-width: 1600px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
    background-color: #1A0B2E; 
}
.navber{
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: #56498c 0.5px solid;
}
.manu{
    
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.manu ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 32px;
    list-style-type: none;
}
.manu a{
   text-decoration: none;
    color: #ffffff;
    font-weight: 500px;
    font-size: 16px;
}
.navber h2{
font-size: x-large;
color: #ffffff;
}
.gradient{
     color: transparent;
    background: linear-gradient(to top,#F7E93F 0% 20%,#FB09B4 51% 100%,#9100F8 100% 100% );
    background-clip: text;
    -webkit-background-clip: text;
}
#btnimg{
    display: flex;
}
#btnimg img{
    display: none;
    width: 24px;
    height: 24px;
    margin-top: 36px;
    margin-bottom: 18px;;
}
#btnimg button{
    width: 135px;
    height: 44px;
    padding: 12px 16px;
    margin-top: 24px;
    margin-bottom: 24px;
    color: #ffffff;
    border-radius: 10000px;
    border: none;
    background: linear-gradient(45deg,#F7E93F 0% 20%,#FB09B4 51%,#9100F8 100% 100% );
}
.banner{
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    padding-top: 101px;
    padding-bottom: 101px;
    background-image: url(./icon/hero-bg.png);
    background-repeat: no-repeat;
    position: relative;
}
.microphone{ 
    /* width: 350px;
    height: 350px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./icon/hero-circle.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 90px;
    margin-left: 45px;
   /* position: fixed; */
}
.newbtn button{
    width: 75px;
    height: 38px;
    font-size: 18px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    padding: 8px 16px; 
    color: #000000;
    background-color: #00FF88;
    border: none;
    border-radius: 10000px;
    position: absolute;
    bottom: 580px;
    right: 570px;

}
.textbtn h3{
    color: #FFFFFF;
    font-size: 60px;
    font-weight: 800px;
    margin-top: 40px;
}
.textbtn p{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400px;
    margin-top: 8px;
    margin-bottom: 24px;
}
.textbtn .btn1{
    width: 201px;
    height: 44px;
    align-items: center;
    padding: 12px 20px;
    border-radius: 10000px;
    border: none;
    background: linear-gradient(45deg,#F7E93F 0% 20%,#FB09B4 51%,#9100F8 100% 100% );
    font-size: 16px;
    font-weight: 600px;
    color: #FFFFFF;
}
.textbtn .btn2{
    width: 147px;
    height: 44px;
    align-items: center;
    padding: 12px 20px;
    background: none;
    color: #00FF88;
    font-size: 16px;
    font-weight: 600px;
    border-radius: 10000px;
    border-color:#00FF88; ;
}
.about-content{
    text-align: center;
    color: #FFFFFF;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
}
.about-content h1{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
    
}
.about-content p{
    font-size: 16px;
    font-weight: 400px;
    line-height: 23px;
}
.card-content{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 120px;
    gap: 80px;
    color: #FFFFFF;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
}

.card-content .caard{
    width: 220px;
    height: 94px;
    text-align: center;
}
.card-content .caard h1{
    font-size: 48px;
    font-weight: 900px;
    color: #00FF88;
    /* margin-bottom: 10px; */
}
.card-content .caard p{
    font-size: 16px;
    font-weight: 400px;
}






@media screen and (max-width:576px){
    .manu,
    #btnimg button
    {display: none;}
    #btnimg img{
        display:block;
        margin-bottom: 30px;
        margin-left: 120px;
    }
    
    
}