*{
    margin: 0;
    padding: 0;
}
body{
     max-width: 1600px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
    background-color: #1A0B2E; 
}
.navber{
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: #56498c 0.5px solid;
}
.manu{
    
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.manu ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 32px;
    list-style-type: none;
}
.manu a{
   text-decoration: none;
    color:#fffcfcae;
    font-weight: 500px;
    font-size: 1rem;
}
.navber h2{
font-size: x-large;
color: #ffffff;
}
.gradient{
     color: transparent;
    background: linear-gradient(to top,#F7E93F 0% 20%,#FB09B4 51% 100%,#9100F8 100% 100% );
    background-clip: text;
    -webkit-background-clip: text;
}
#btnimg{
    display: flex;
}
#btnimg img{
    display: none;
    width: 24px;
    height: 24px;
    margin-top: 36px;
    margin-bottom: 18px;;
}
#btnimg button{
    width: 135px;
    height: 44px;
    padding: 12px 16px;
    margin-top: 24px;
    margin-bottom: 24px;
    color: #ffffff;
    border-radius: 10000px;
    border: none;
    background: linear-gradient(45deg,#F7E93F 0% 20%,#FB09B4 51%,#9100F8 100% 100% );
}
.banner{
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    padding-top: 101px;
    padding-bottom: 101px;
    background-image: url(./icon/hero-bg.png);
    background-repeat: no-repeat;
    position: relative;
}
.microphone{ 
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./icon/hero-circle.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 90px;
    margin-left: 45px;
}
.newbtn button{
    width: 75px;
    height: 38px;
    font-size: 1.1rem;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    padding: 8px 16px; 
    color: #000000;
    background-color: #00FF88;
    border: none;
    border-radius: 10000px;
    position: absolute;
    bottom: 580px;
    right: 570px;

}
.textbtn h3{
    color: #FFFFFF;
    font-size: 3.8rem;
    font-weight: 800px;
    margin-top: 40px;
}
.textbtn p{
    color: #fffcfcae;
    font-size: 1rem;
    font-weight: 400px;
    margin-top: 8px;
    margin-bottom: 24px;
}
.textbtn .btn1{
    width: 201px;
    height: 44px;
    align-items: center;
    padding: 12px 20px;
    border-radius: 10000px;
    border: none;
    background: linear-gradient(45deg,#F7E93F 0% 20%,#FB09B4 51%,#9100F8 100% 100% );
    font-size: 1rem;
    font-weight: 600px;
    color: #FFFFFF;
}
.textbtn .btn2{
    width: 147px;
    height: 44px;
    align-items: center;
    padding: 12px 20px;
    background: none;
    color: #00FF88;
    font-size: 1rem;
    font-weight: 600px;
    border-radius: 10000px;
    border-color:#00FF88; ;
}
.about-content{
    text-align: center;
    color: #FFFFFF;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
}
.about-content h1{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 16px;
    animation: textanimation  2s infinite;
    
}
.about-content p{
    color: #fffcfcae;
    font-size: 1rem;
    font-weight: 400px;
    line-height: 23px;
}
.card-content{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 120px;
    gap: 80px;
    color: #FFFFFF;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
}

.card-content .caard{
    width: 220px;
    height: 94px;
    text-align: center;
}
.card-content .caard h1{
    font-size: 3rem;
    font-weight: 900px;
    color: #00FF88;
}
.card-content .caard p{
    font-size: 1rem;
    font-weight: 400px;
}

.About{
    padding: 120px 200px;
    color: #FFFFFF;
    background-color: #351165;
}
.About h1{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 40px;
    animation: textanimation  2s infinite;
}
.cardsection1{
    grid-area: cardsection1;
}
.cardsection1 img{
    padding-top: 70px;
}
.cardsection2{
    grid-area: cardsection2;
}
.cardsection3{
    grid-area: cardsection3;
}
.cardsection4{
    grid-area: cardsection4;
}
.cardsection5{
    grid-area: cardsection5;
}
.about-card{
display: grid;
grid-template-areas:
    "cardsection1 cardsection2 cardsection2"
    "cardsection1 cardsection3 cardsection3"
    "cardsection4 cardsection4 cardsection5"
}
.cardinfo{
    border-radius: 40px;
    box-shadow: 0 6px 50px 0 #00000028;
    padding: 40px;
    margin: 20px;

}
.cardinfo h3{
    padding: 16px 40px 16px 0px;
    font-size: 1.5rem;
    font-weight: bold;
}
.cardinfo p{
    color: #fffcfcae;
    font-size: 1rem;
    font-weight: 400;
    line-height: 30px;
}
.episode{
    padding: 120px 200px;
    color: #FFFFFF;
}
.episode h1{
    margin-bottom: 40px;
    text-align: center;
    font-size: 3rem;
    font-weight:bold;
    animation: textanimation  2s infinite;
}
.video1{
    grid-area: video1;
}
.video2{
    grid-area: video2;
}
.video3{
    grid-area: video3;
}
.video-container{
    display: grid;
    gap: 30PX;
    grid-template-areas:
    "video1 video2 video3"
}

.videos{
    width: 380px;
    height: 440px;
    border-radius: 22px;
    background-color:#250D44;
    box-shadow:0 6px 50px 0 #06060628;
}
.videos h3{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 24px 24px 12px 24px;
}
.videos p{
    color: #fffcfcae;
    font-size: 1rem;
    font-weight: 400px;
    padding: 0px 24px 12px 24px;
    line-height: 25px;
}
.videos .time{
    color: #00FF88;
}
.host{
    padding: 120px 200px;
    color: #FFFFFF;
}
.host h1{
    text-align: center;
    font-size: 3rem;
    font-weight:bold;
    margin-bottom: 40px;
    animation: textanimation  2s infinite;
}
@keyframes textanimation{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
.hostpic{
    grid-area:hostpic;
}
.host-info{
    grid-area: host-info;
}
.host-container{
     gap: 24px;
    padding: 40px;
    background-color:#250D44;
    box-shadow:0 6px 50px 0 #06060628;
    border-radius: 40px;
    display:grid;
    grid-template-areas: 
    "hostpic host-info"
}
.icone{
    display: flex;
    list-style-type: none;
    gap: 30px;
    color: transparent;
    background: linear-gradient(to top,#F7E93F 0% 20%,#FB09B4 51% 100%,#9100F8 100% 100% );
    background-clip: text;
    -webkit-background-clip: text;
}
.icone i{
border: #ec4e4e 0.5px solid; 
border-radius: 50%;
padding: 3px;
}
.host-info h2{
    padding-top: 9px;
    padding-bottom: 16px;
    font-size: 2rem;
    font-weight: bold;
}
.host-info p{
    font-size: 1rem;
    font-weight: 400;
    color: #fffcfcae;
    line-height: 25px;
    margin-bottom: 18px;
}
footer{
    background-image: url(./icon/footer-bg.png);
    background-repeat: no-repeat;
    text-align: center;
    color: #FFFFFF;
    padding: 120px;
}
.linkitem ul{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding-top: 25px;
    padding-bottom: 32px;
}
.linkitem ul a{
    text-decoration: none;
    color: #fffcfcae;
    font-weight: 500px;
    font-size: 1rem;
}
footer h1{
    font-size: 4rem;
    font-weight: bold;
    animation: textanimation  2s infinite;
}
footer p{
    padding-top: 20px;
    color: #fffcfcae;
    font-size: 1rem;
    font-weight: 400;
}
.mouse{
    cursor: pointer;
}
.mouse:hover{
    background-color: #351165;
}











@media screen and (max-width:576px){
    .manu,
    #btnimg button
    {display: none;}
    #btnimg img{
        display:block;
        margin-bottom: 30px;
        margin-left: 120px;
    }
    .card-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
    }
    .newbtn button{
         bottom: 600px;
         right: 70px;

    }
    .about-content{
         margin-left: 2px;
    margin-right: 20px;
    margin-top: 50px;
    }
    .About{
    padding: 10px 20px;}
    .About h1{
    font-size: 2.5rem;
    margin-top: 40px;
}
    .about-card{
        display: grid;
        grid-template-areas:
    "cardsection1"
    "cardsection2"
    "cardsection3"
    "cardsection4"
    "cardsection5"
}
.episode{
    padding: 50px 60px;}
.video-container{
    grid-template-areas:
    "video1"
    "video2"
    "video3"
}
.host{max-width: 576px;
    padding: 50px 60px;

}
    
.host-container{ 
    text-align: center;
    width: 300px;
    width: 333px;
    grid-template-areas: 
    "hostpic"
   "host-info"
}
.icone{
    padding-left: 65px;
}
footer{
   background-position: 100%;
}
}